<!-- <div class="second">
  <div class="contact-address">
    <ion-icon name="mail"></ion-icon>
    NY, United Kingdom
  </div>
  <div class="contact-phone">
    <ion-icon name="call"></ion-icon>
    0933865252
  </div>
  <div class="warnings">
    <div class="warnings-content">
      <span class="not-recorded-allergy">
      <ion-icon name="flower"></ion-icon>
      <span>Allergies not recorded</span>
      </span>
    </div>
    <ion-icon slot="end" class="expand-button icon icon-md ion-ios-more" (click)="expandPatientDetail()" name="ios-more-outline"></ion-icon>
  </div>
</div>

<ion-item>
    Default Item
</ion-item>
<ion-list>
  <ion-radio-group value="biff">
    <ion-list-header>
      <ion-label>Name</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label slot="start">Biff</ion-label>
      <ion-radio slot="end" value="biff"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Griff</ion-label>
      <ion-radio slot="start" value="griff"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Buford</ion-label>
      <ion-radio slot="start" value="buford"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list> -->
<!-- View Mode -->
<ng-container >
  <div class="action-buttons">
    <!-- Edit -->
    <ion-button fill="outline">
      <ion-icon slot="icon-only" name="pencil"></ion-icon>
    </ion-button>
    <!-- Skip -->
    <ng-container >
      <ion-button fill="outline" >
        <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>
      </ion-button>
    </ng-container>
    <!-- Exit -->
    <div class="cancel">
      <ion-button fill="outline">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </div>
  </div>

</ng-container>