<div id="ahihi">
  <ng-container>
    <div class="first">
      <div class="name">
        <span class="lastname">LAM,</span>
        <span class="firstname">Tran</span>
        <span class="middlename"></span>
        <span *ngIf="patient?.title">({{ patient.title }})</span>
        <div slot="start" class="label-sync">
          <ion-icon name="sync" [class.sync-fail]="!isSyncDone" *ngIf="elapsedString"></ion-icon>
          <span class="info-sync">
          22 hours
        </span>
        </div>
      </div>
      <div class="details">
        Born
        <ng-container *ngIf="showData">
          <span class="brith-day">
            01-Jan-1990
          </span>
          <span class="brith-day">
            (30y)
          </span>
        </ng-container>
        <span>
          &middot; Gender
          <b>Female</b>
        </span>
        <span class="secondary-id">
          &middot; NHS No.
          <b></b>
        </span>
      </div>
    </div>
  
    <div class="second">
      <div class="contact-address">
        <ion-icon name="mail"></ion-icon>
        NY, United Kingdom
      </div>
      <div class="contact-phone">
        <ion-icon name="call"></ion-icon>
        
      </div>
      <div class="warnings">
        <div class="warnings-content">
          <span class="warning">
          <ion-icon name="flower"></ion-icon>
          <span>Known allergies (1)</span>
          </span>
        </div>
        <ion-icon slot="end" class="expand-button" (click)="expandPatientDetail($event)" [name]="!isPatientBannerCollapsed ? 'more-outline' : 'more'"></ion-icon>
      </div>
    </div>
  
  </ng-container>
  
  <ng-container *ngFor="let item of items">
    <ion-radio-group >
      <ion-item  class="width-25">
        <ion-label class="hihihi">{{item.itemLabel}}</ion-label>
        <ion-radio slot="start" checked="{{item.itemSelect}}" [value]="item.itemID"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ng-container>
    



    <ion-radio-group value="two">
      <ion-item lines="none">
        <ion-label color="primary">ONE</ion-label>
        <ion-radio slot="end" value="one"></ion-radio>
      </ion-item>
      <ion-item lines="none"> 
        <ion-label color="secondary" >TWO</ion-label>
        <ion-radio value="two"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="tertiary">THREE</ion-label>
        <ion-radio value="three"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="danger" >FOUR</ion-label>
        <ion-radio value="four"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="light" >FIVE  </ion-label>
        <p color="light">Ahihi</p>
        <ion-radio value="four"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-input type="text">ahihi  </ion-input>
    <button>
      <ion-icon  name="call"></ion-icon>
    </button>
  
</div>
