@import "common";

// Override ionic checkbox
// --------------------------------------------------

/// @prop - Border color of the checkbox icon when off
$checkbox-ios-icon-border-color-off: color($colors, color-dusty-gray);

/// @prop - Border color of the checkbox icon when on
$checkbox-ios-icon-border-color-on: color($colors, color-pelorous);

/// @prop - Background color of the checkbox icon when off
$checkbox-ios-icon-background-color-off: color($colors, color-white-gray);

/// @prop - Background color of the checkbox icon when on
$checkbox-ios-icon-background-color-on: color($colors, color-white-gray);

/// @prop - Color of the checkbox icon checkmark
$checkbox-ios-icon-checkmark-color: color($colors, color-pelorous);

/// @prop - Size of the checkbox icon
$checkbox-ios-icon-size: 25px;

// Override ionic radio
// --------------------------------------------------

/// @prop - Color of the checked radio
$radio-ios-color-on: color($colors, color-cerulea-blue);

/// @prop - Color of the unchecked radio
$radio-ios-color-off: color($colors, color-cerulea-blue);

/// @prop - Width of the radio icon
$radio-ios-icon-width: 25px;

/// @prop - Height of the radio icon
$radio-ios-icon-height: 25px;