// Toast messages common & mixin
//-------------------------------------------
.toast-msg-icons {
  font-family: "ionicons";
  font-size: 30px;
  width: 28px;
  height: 29px;
  margin: 0 4px 0 20px;
  color: color($colors, color-white);
}

@mixin toast-msg-type($codeIcon, $type) {
  .toast-wrapper {
    background-color: color($colors-notice, $type);
  }
  .toast-container::before {
    content: $codeIcon;
    @extend .toast-msg-icons;
  }
}

// Toast messages
//-------------------------------------------

ion-toast {
  .toast-container {
    height: 87px;
  }
  &.lrz-toast-msg {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: visible;
    &.lrz-error-msg {
      @include toast-msg-type("\f2bf", error)
    }
    &.lrz-warning-msg {
      @include toast-msg-type("\f3a5", warning);
    }
    &.lrz-info-msg {
      @include toast-msg-type("\f311", info);
    }
    &.lrz-success-msg {
      @include toast-msg-type("\f2b9", success);
    }
    &.lrz-highlight-msg {
      @include toast-msg-type("", highlight);
    }
  }
}
